# ==== Librerías principales ====
numpy==1.26.4
pandas==2.1.4

# ==== Machine Learning ====
scikit-learn==1.3.2
joblib==1.3.2

# ==== FastAPI y entorno MLOps ====
fastapi==0.103.2
starlette==0.27.0
uvicorn==0.24.0.post1
python-multipart==0.0.9
pydantic==2.6.0
dill==0.3.8

# ==== Testing y análisis ====
pytest==7.4.3
pytest-cov==4.1.0
flake8==6.1.0
bandit==1.7.5

# ==== Dependencias del proyecto ====
mlflow==2.10.0
streamlit==1.31.1

# ==== Compatibilidad general ====
tqdm==4.66.1
requests==2.31.0
jsonschema==4.20.0
python-dateutil==2.8.2
pytz==2023.3.post1
wheel==0.42.0







